@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

body {
  background: #9d8170;
  margin: 0;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Mynerve", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: #600000;
}

#navbarSupportedContent {
  font-size: 25px;
}

#navbar-brand {
  font-size: 30px;
}

#homepage-image {
  border-radius: 5px;
}

#tables {
  background-color: white;
  border-radius: 10px;
}

.table {
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
}

.btn-primary {
  color: #ffffff;
  background-color: #6f1919;
  border-color: #6f1919;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #130000;
  border-color: #130000;
}

#forms {
  background-color: #7f3232;
  border-radius: 10px;
}

.form-label {
  font-weight: bold;
}

#wardrobe {
  margin-top: 20px;
}

#items {
  margin-top: 20px;
}
